{% extends "settings/settings_base.html" %}

{% block settings_content %}

<style>
    .section-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .section {
        flex: 1 1 300px; /* Adjust as needed */
        margin-bottom: 20px;
    }

    hr {
        width: 50%;
        margin: 10px 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    .button-container {
        display: flex;
        align-items: center;
    }

    .styled-button {
        background-color: #7289da;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 8px 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-right: 5px; /* Add some margin to separate buttons */
    }

    .styled-button:hover {
        background-color: #677bc4;
    }

    /* Specific styling for Remove, Reject, and Cancel Request buttons */
    .remove-button,
    .reject-button,
    .cancel-request-button {
        background-color: rgb(217, 86, 86);
    }
</style>

<div class="section-container">

    <div class="section">
        <h1>Your Friends ({{ friends|length }})</h1>
        <ul>
            {% for friend in friends %}
                <li>{{ friend }}</li> <h1>{{ friend.id }}</h1>
                <li class="button-container">
                    <form method="post" action="/remove_friend/{{ friend }}">
                        <button type="submit" class="styled-button remove-button">Remove</button>
                    </form>
                    <form method="post" action="/create_room/{{ friend }}">
                        <button type="submit" class="styled-button">DM</button>
                    </form>
                </li>
                <hr>
            {% endfor %}
        </ul>
    </div>

    <div class="section">
        <h1>Sent friend requests{% if sent_requests %} ({{ sent_requests|length }}){% endif %}</h1>
        {% if sent_requests %}
            <ul>
                {% for sent_request in sent_requests %}
                    <li>{{ sent_request }}</li>
                    <li class="button-container">
                        <form method="post" action="/cancel_friend_request/{{ sent_request }}">
                            <button type="submit" class="styled-button cancel-request-button">Cancel Request</button>
                        </form>
                    </li>
                    <hr>
                {% endfor %}
            </ul>
        {% else %}
            <p>No sent friend requests.</p>
        {% endif %}
    </div>

    <div class="section">
        <h1>Handle Friend Requests{% if incoming_requests %} ({{ incoming_requests|length }}){% endif %}</h1>
        {% if incoming_requests %}
            <ul>
                {% for request in incoming_requests %}
                    <div>
                        From: {{ request.sender.username }}
                        <li class="button-container">
                            <form method="post" action="/accept_friend_request/{{ request.id }}">
                                <button type="submit" class="styled-button">Accept</button>
                            </form>
                            <form method="post" action="/reject_friend_request/{{ request.id }}">
                                <button type="submit" class="styled-button reject-button">Reject</button>
                            </form>
                        </li>
                    </div>
                    <hr>
                {% endfor %}
            </ul>
        {% else %}
            <p>No incoming friend requests.</p>
        {% endif %}
    </div>

</div>

<div class="section">
    <h1>Send Friend Request</h1>
    <form method="post" action="">
        {{ form.hidden_tag() }}
        {{ form.username.label }} {{ form.username }}
        <button type="submit" class="styled-button">Send Request</button>
    </form>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li class="error">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>

{% endblock %}
