<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register Page</h1>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.email }}
        {{ form.password }}
        {{ form.submit }}
    </form>

    {% if form.username.errors %}
        <div class="error-message">{{ form.username.errors[0] }}</div> <br>
    {% endif %}


    {% if form.email.errors %}
        <div class="error-message">{{ form.email.errors[0] }}</div> <br>
    {% endif %}

    {% if form.password.errors %}
        <div class="error-message">{{ form.password.errors[0]|safe}}</div> <br>
    {% endif %}

    <a href="{{url_for('login')}}">Already have an account? Login now!</a><br>
</body>
</html>