<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove Friend</title>
</head>
<body>
    <h1>Your Friends</h1>
    <div>
    <!-- Display the list of friends here -->
    <ul>
        {% for friend in friends %}
            <li>{{ friend }}</li> <h1>{{ friend.id }}</h1>
            <li>
                <form method="post" action="/remove_friend/{{ friend }}">
                    <button type="submit">Remove</button>
                </form>
            </li>
            <li>
                <form method="post" action="/create_room/{{ friend }}">
                    <button type="submit">DM</button>
                </form>
            </li>
            <hr>
        {% endfor %}
    </ul>
    
    </div>


    <a href="/">Back to Home</a>
</body>
</html>
