<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='MooseFavicon.png') }}">
    <title>Home</title>
</head>
<body>
    {% if user %}
        <h2 style="color:limegreen;">You are currently logged in as {{ user.username }} </h2>
        <img src="{{ user.image_link }}" alt="{{ user.username }}'s Image" style="width: 50px; height: 50px; border-radius: 50%;">
    {% else %}
        <h2 style="color:red">You are not logged in</h2>
    {% endif %}

    <hr>

    <h1>Homepage - Debug</h1>

    <a href="{{url_for('register')}}">Press here to register</a>
    <br><br>
    <a href="{{url_for('login')}}">Press here to login!</a>
    <br><br>
    <a href="{{url_for('logout')}}">Press here to logout!</a>
    <br><br>
    <a href="{{url_for('chat')}}">Press here to enter chatroom!</a>
    <br><br>
    <a href="{{url_for('new_home')}}">Press here to enter new_home!</a>
    <br><br>

    <hr>
    <h1>Friend System</h1>
    <a href="{{url_for('send_friend_request')}}">send_friend_request</a>
    <br><br>
    <a href="{{url_for('handle_friend_request')}}">handle_friend_request</a>
    <br><br>
    <a href="{{url_for('list_friends')}}">list_friends</a>
    <hr>
    
    {% if user %}
        <form action="{{ url_for('update_image_link') }}" method="post">
            <label for="image_link">Profile Picture Link:</label>
            <input type="text" name="image_link" id="image_link" placeholder="Enter image link">
            <input type="submit" value="Update Profile Picture">
        </form>
    {% endif %}

</body>
</html>
