<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='MooseFavicon.png') }}">
    <title>Home</title>
</head>
<body>
    <h1>Homepage</h1>


    <a href="{{url_for('register')}}">Press here to register</a>
    <br><br>
    <a href="{{url_for('login')}}">Press here to login!</a>
    <br><br>
    <a href="{{url_for('logout')}}">Press here to logout!</a>
    <br><br>
    <a href="{{url_for('chat')}}">Press here to enter chatroom!</a>

</body>
</html>